<app-header></app-header>

<!---->
<section>
  ser sustentável
</section>
<!--/-->

<!---->
<section>
  novos produtos
</section>
<!--/-->


<!--Card e carrossel-->

<div class="container">
    <h2 class="text-center m-5">PRODUTOS EM DESTAQUE</h2>

    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="card-deck mb-5">
                <div class="card">
                  <img class="card-img-top" src=".../100px200/" alt="Imagem de capa do card">
                  <div class="card-body">
                    <h5 class="card-title">Título do card</h5>
                    <p class="card-text">Este é um card mais longo com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional. Este conteúdo é um pouco maior.</p>
                  </div>
                </div>
                <div class="card">
                  <img class="card-img-top" src=".../100px200/" alt="Imagem de capa do card">
                  <div class="card-body">
                    <h5 class="card-title">Título do card</h5>
                    <p class="card-text">Este é um card com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional.</p>
                  </div>
                </div>
                <div class="card">
                  <img class="card-img-top" src=".../100px200/" alt="Imagem de capa do card">
                  <div class="card-body">
                    <h5 class="card-title">Título do card</h5>
                    <p class="card-text">Este é um card maior com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional. Este card tem o conteúdo ainda maior que o primeiro, para mostrar a altura igual, em ação.</p>
                  </div>
                </div>
              </div>
            
          </div>
          <div class="carousel-item">
            <div class="card-deck mb-5">
                <div class="card">
                  <img class="card-img-top" src=".../100px200/" alt="Imagem de capa do card">
                  <div class="card-body">
                    <h5 class="card-title">Título do card</h5>
                    <p class="card-text">Este é um card mais longo com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional. Este conteúdo é um pouco maior.</p>
                  </div>
                </div>
                <div class="card">
                  <img class="card-img-top" src=".../100px200/" alt="Imagem de capa do card">
                  <div class="card-body">
                    <h5 class="card-title">Título do card</h5>
                    <p class="card-text">Este é um card com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional.</p>
                  </div>
                </div>
                <div class="card">
                  <img class="card-img-top" src=".../100px200/" alt="Imagem de capa do card">
                  <div class="card-body">
                    <h5 class="card-title">Título do card</h5>
                    <p class="card-text">Este é um card maior com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional. Este card tem o conteúdo ainda maior que o primeiro, para mostrar a altura igual, em ação.</p>
                  </div>
                </div>
              </div>
          </div>
          <div class="carousel-item">
            <div class="card-deck mb-5">
                <div class="card">
                  <img class="card-img-top" src=".../100px200/" alt="Imagem de capa do card">
                  <div class="card-body">
                    <h5 class="card-title">Título do card</h5>
                    <p class="card-text">Este é um card mais longo com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional. Este conteúdo é um pouco maior.</p>
                  </div>
                </div>
                <div class="card">
                  <img class="card-img-top" src=".../100px200/" alt="Imagem de capa do card">
                  <div class="card-body">
                    <h5 class="card-title">Título do card</h5>
                    <p class="card-text">Este é um card com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional.</p>
                  </div>
                </div>
                <div class="card">
                  <img class="card-img-top" src=".../100px200/" alt="Imagem de capa do card">
                  <div class="card-body">
                    <h5 class="card-title">Título do card</h5>
                    <p class="card-text">Este é um card maior com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional. Est card tem o conteúdo ainda maior que o primeiro, para mostrar a altura igual, em ação.</p>
                  </div>
                </div>
              </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Próximo</span>
        </a>
      </div>
</div>
<!--/Card e carrossel-->
<div class="mb-5  d-flex justify-content-center">
    <button type="button" class="btn btn-primary">Todos Produtos</button> 
</div>

<!--Sobrenos-->
<div class="container mb-5">
    <h2 class="text-center mt-5">EQUIPE</h2>
    <hr class="mb-5">
    <div class="card-deck">
        <div class="card shadow">
          <img class="card-img-top" src="http://pm1.narvii.com/6704/b794ed169b2d403b0f0d075b7dfd07e82fcc7e9a_00.jpg" alt="Imagem de capa do card">
          <div class="card-body">
            <h5 class="card-title">Denise Anjos</h5>
            <p class="card-text">Fullstack Developer Jr</p>
          </div>
        </div>
        <div class="card shadow">
          <img class="card-img-top" src="http://pm1.narvii.com/6704/b794ed169b2d403b0f0d075b7dfd07e82fcc7e9a_00.jpg" alt="Imagem de capa do card" alt="Imagem de capa do card">
          <div class="card-body">
            <h5 class="card-title">Jessica Holanda</h5>
            <p class="card-text">Fullstack Developer Jr</p>
          </div>
        </div>
        <div class="card shadow">
          <img class="card-img-top" src="http://pm1.narvii.com/6704/b794ed169b2d403b0f0d075b7dfd07e82fcc7e9a_00.jpg" alt="Imagem de capa do card" alt="Imagem de capa do card">
          <div class="card-body">
            <h5 class="card-title">Marcos Santos</h5>
            <p class="card-text">Fullstack Developer Jr</p>
          </div>
        </div>
        <div class="card shadow">
            <img class="card-img-top" src="http://pm1.narvii.com/6704/b794ed169b2d403b0f0d075b7dfd07e82fcc7e9a_00.jpg" alt="Imagem de capa do card" alt="Imagem de capa do card">
            <div class="card-body">
              <h5 class="card-title">Raphael Scaziti</h5>
              <p class="card-text">Fullstack Developer Jr</p>
            </div>
          </div>
          <div class="card shadow">
            <img class="card-img-top" src="http://pm1.narvii.com/6704/b794ed169b2d403b0f0d075b7dfd07e82fcc7e9a_00.jpg" alt="Imagem de capa do card" alt="Imagem de capa do card">
            <div class="card-body">
              <h5 class="card-title">Rui Almeida</h5>
              <p class="card-text">Fullstack Developer Jr</p>
            </div>
          </div>
      </div>
</div>
<!--/Sobrenos-->

<app-footer></app-footer>