

<div class="landing container">

  <!---->
  <section>
    <div class="row">
      <div class="col">
        <h5 class="title text-center">Ser Sustentavel</h5>
        <p class="text">Este é um card mais longo com suporte a texto embaixo, que funciona como uma
          introdução a um conteúdo adicional. Este conteúdo é um pouco maior.</p>
      </div>
      <div class="col"></div>
    </div>

  </section>
  <!--/-->

  <!---->
  <section>
    novos produtos
  </section>
  <!--/-->


  <!--Card e carrossel-->

  <div class="container">
    

    <app-product-carousel></app-product-carousel>
  </div>



  <!--/Card e carrossel-->



  <!--Sobrenos-->
  <div class="container mb-5">
    <hr class="mb-5">
    <h2 class="text-center mb-5">EQUIPE</h2>


    <div *ngIf="gitUsersLoaded" class="row">
      <div class="col" *ngFor="let gitUser of gitUsers">
        <app-card-member [gitUser]="gitUser"></app-card-member>
      </div>
    </div>
  </div>
  <!--/Sobrenos-->


</div>

