<!--NavBar-->
<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-transparent d-flex justify-content-between">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
      aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink='/landingpage'>Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='/produtos'>Produtos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='/sobre-projeto'>Sobre o projeto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='/adm'>Pagina Adm</a>
        </li>
      </ul>

      <a href="">carrinho</a>
      <div class="btn-container">
        <button type="button" class="btn" data-toggle="modal" data-target="#modalLogin" >
          Login
        </button>
      </div>
    </div>
  </nav>
</div>
<!--/NavBar-->

<!-- Direcionamento para Componente com Modal de Login e Cadastro -->

<app-login></app-login>

<!-- /Direcionamento para Componente com Modal de Login e Cadastro -->
