.btn {
  text-align: center;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: #27AE60;
  border-radius: 6px;
  }

.btn-container {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-bottom: 15px;
}


