<!-- Carrossel -->
<div class="container">
  <h2 class="text-center m-5 main-products">PRODUTOS EM DESTAQUE</h2>
  <div class="d-flex justify-content-center">
    <!--Carousel Wrapper-->
    <div id="multi-products" class="carousel slide carousel-multi-item" data-ride="carousel">
      <!--Indicators-->
      <div>
        <ol class="carousel-indicators">
          <li data-target="#multi-products" data-slide-to="0" class="active"></li>
          <li data-target="#multi-products" data-slide-to="1"></li>
          <li data-target="#multi-products" data-slide-to="2"></li>
        </ol>
      </div>
      <!--/.Indicators-->
      <!--Slides-->
      <div class="carousel-inner" role="listbox">
        <!--First slide-->
        <div class="carousel-item active">
          <div class="card-columns d-flex justify-space-evenly">
            <div class="card card-produtos" *ngFor='let item of listaProdutos | slice:0:3'>
              <div class="header-card-produtos"></div>
              <div class="img-container text-center m-auto w-75 pt-3">
                <img class="card-img-top-produtos" src="{{item.imagem}}" alt="Imagem card">
              </div>
              <div class="card-body">
                <h5 class="card-title text-center">{{item.nomeProduto}}</h5>
                <p class="card-price text-center">R$ {{item.preco}},00</p>
              </div>
              <div class="btn-container">
                <button type="button" class="btn btnMore" data-toggle="modal" data-target="#ModalSaibaMais"
                  (click)="selecionarProduto(item)">
                  Saiba Mais
                </button>
                <button button type="button" class="btn btnCart" (click)="addToCart(item)">
                  Carrinho
                </button>
              </div>
            </div>
          </div>
        </div>
        <!--Second slide-->
        <div class="carousel-item">
          <div class="card-columns d-flex justify-space-evenly">
            <div class="card card-produtos" *ngFor='let item of listaProdutos | slice:3:6'>
              <div class="header-card-produtos"></div>
              <div class="img-container text-center m-auto w-75 pt-3">
                <img class="card-img-top-produtos" src="{{item.imagem}}" alt="Imagem card">
              </div>
              <div class="card-body">
                <h5 class="card-title text-center">{{item.nomeProduto}}</h5>
                <p class="card-price text-center">R$ {{item.preco}},00</p>
              </div>
              <div class="btn-container">
                <button type="button" class="btn btnMore" data-toggle="modal" data-target="#ModalSaibaMais"
                  (click)="selecionarProduto(item)">
                  Saiba Mais
                </button>
                <button button type="button" class="btn btnCart" (click)="addToCart(item)">
                  Carrinho
                </button>
              </div>
            </div>
          </div>
        </div>
        <!--Third slide-->
        <div class="carousel-item">
          <div class="card-columns d-flex justify-space-evenly">
            <div class="card card-produtos" *ngFor='let item of listaProdutos | slice:6:9'>
              <div class="header-card-produtos"></div>
              <div class="img-container text-center m-auto w-75 pt-3">
                <img class="card-img-top-produtos" src="{{item.imagem}}" alt="Imagem card">
              </div>
              <div class="card-body">
                <h5 class="card-title text-center">{{item.nomeProduto}}</h5>
                <p class="card-price text-center">R$ {{item.preco}},00</p>
              </div>
              <div class="btn-container">
                <button type="button" class="btn btnMore" data-toggle="modal" data-target="#ModalSaibaMais"
                  (click)="selecionarProduto(item)">
                  Saiba Mais
                </button>
                <button button type="button" class="btn btnCart" (click)="addToCart(item)">
                  Carrinho
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Carrossel -->

<!-- MODAL Saiba Mais -->

<div class="modal fade" id="ModalSaibaMais" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="TituloModalCentralizado">
          {{produtoSelecionado.nomeProduto}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="img-container text-center m-auto w-75 pt-3">
          <img class="card-img-top-produtos" src="{{produtoSelecionado.imagem}}" alt="Imagem card">
        </div>
        <p class="text-center p-3" id="ProdutoSelecionadoDescricao">
          {{produtoSelecionado.descricao}}</p>
        <p class="card-price text-center p-3" id="ProdutoSelecionadoPreco">R$
          {{produtoSelecionado.preco}},00</p>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          <button type="button" class="btn btnCart" (click)="addToCart(produtoSelecionado)"
            data-dismiss="modal">Adicionar ao carrinho</button>
        </div>
      </div>
    </div>
  </div>
</div>

  <!-- /MODAL Saiba Mais -->