<div class="product-card">

  <div class="row">
    <!--Imagem-->
    <div class="col-md-3 col-12">
      <div class="p-2">
        <img class="w-100 product-image" src="https://i.imgur.com/5hOwCtK.jpg">
      </div>
    </div>
    <!--END Imagem-->

    <!--Detalhes Produto-->
    <div class="col-md-5 col-12 product-details">
      <!--Nome-->
      <div class="product-name-container">
        <div class="product-name font-weight-bold">Produto</div>
      </div>
      <!--END Nome-->

      <!--Descrição-->
      <div class="product-description-container">
        <div class="product-description">Descrição Produto</div>
      </div>
      <!--END Descrição-->

      <!--Preço-->
      <div>
        <div>Valor unitário: R$ 1000,00</div>
      </div>
      <!--END Preço-->
    </div>
    <!--END Detalhes Produto-->

    <!--Preço-->
    <div class="col-md-4 col-12 product-values">
      <!--Quantidade-->
      <div class="qtd-container d-flex">
        <button class="btn-qtd btn" type="button">-</button>
        <input class="input-qtd" type="number" min="1">
        <button class="btn-qtd btn" type="button">+</button>
      </div>
      <!--END Quantidade-->
    </div>


  </div>


  <!--Remover produto do carrinho-->
  <div class="remove-product-container">
    <div>
      <i class="fas icon-remove fa-trash-alt"></i>
    </div>
  </div>
</div>
