<!--Card-Model-->
<div class="card">
  <div class="green-bar"></div>
  <div class="img-container text-center m-auto w-75 pt-3">
    <img class="card-img w-100 img-border" src="https://i.imgur.com/5hOwCtK.jpg" alt="Imagem card" >
  </div>
  <div class="card-body">
    <h5 class="card-title text-center">Produto X</h5>
    <p class="card-text">Este é um card mais longo com suporte a texto embaixo, que funciona como uma
      introdução a um conteúdo adicional. Este conteúdo é um pouco maior.</p>
    <p class="card-price text-center"> R$ 00,00</p>  

    <div class="btn-container">
      <button button type="button" class="btn">
        Comprar
      </button>
    </div>

  </div>
</div>
<!--/Card-Model-->
